<% layout('layouts/boilerplate') %>

<%- include('../partials/navbar') %>    

<div class="row">
            
            <div class="col-lg-6 mt-3">
                <div class="card shadow mx-auto" style="width: 18rem;">
                    <img src="<%=foundProduct.img%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h2 class="card-title"><%=foundProduct.name%></h2>
                      <h5 class="card-title"><%=foundProduct.price%></h5>
                      <p class="card-text"><%=foundProduct.desc%></p>
                      <a href="/products/<%=foundProduct._id%>/edit" class="btn btn-sm btn-light">Edit</a>
                      <a href="#" class="btn btn-sm btn-secondary">add to Cart</a>
                      <a href="#" class="btn btn-sm btn-success">Buy Product</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <h1 class="display-5">Leave a Review</h1>
                <form action="/products/<%=foundProduct._id%>/review" method="POST">
                <div>
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="comment">Comment: </label>
                    <textarea class="form-control" row="3" name="comment" id="comment"></textarea>
                </div>

                <button class="btn btn-sm btn-success">Add Review</button>
                </form>

                <div class="my-3">

                    <% for(let review of foundProduct.reviews){ %>

                        <div class="card mt-3">
                            <p class="card-title mx-3">
                                <% if(review.createdAt){ %>
                                    <%=review.createdAt.toDateString() %> 
                                    <% } %>
                            </p>
                            <p class="starability-result" data-rating="<%=review.rating %>">
                              Rated: <%=review.rating %> stars
                            </p>
                            <div class="card-body">
                              <p class="card-text">Comment: <%=review.comment %></p>
                            </div>
                            
                            <a href="#" class="btn btn-primary">Delete</a>
                          </div>

                    <% } %>

                </div>


            </div>

</div>

</body>
</html>